h1.PageIntro{
    font-family: Kavoon;
}
div.aboutMe{
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 10px;
    background-color:white;
    border: 1px solid black;
}
div.aboutMeContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vw;
    justify-content: center;
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    font-family: "Koh Santepheap";
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1vw;
}

div.projectContainer{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
}

h2{
    margin-block-end: 0.5em;
}

a{
    font-size: 1.5vw;
    text-decoration: none;
}
div.project{
    width: 90%;
    height: 8vw;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

div.projectInfo{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-right: 1px solid black;
}
p{
    color:black;
}
div.projectLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}