nav.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blueviolet;
}

div.PageFrame{
    width: 8vw;
    height: 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 0.25px solid white;
    border-right: 0.25px solid white;
    border-top: none;
    border-bottom: none;

}

div.PageFrame:hover{
    background-color: rgb(255, 255, 255);
    border-left: 0.25px solid blueviolet;
    border-right: 0.25px solid blueviolet;
}

div.PageFrame:hover > .Pages{
    color: blueviolet;
}
.Pages{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.3vw;
    color:aliceblue;
}